@import "../primitives/btns";
@import "../primitives/icons";

._filter {
  height: 36px;
  padding: 0 5px 0 15px;
  transition: .2s;
  display: flex;
  align-items: center;
  color: #4a4a4a;
  font-size: 13px;
  cursor: pointer;
  &:hover {
    background: #f1fcff;
    .only {
      display: block;
      @media (max-width: 768px) {
        display: none;
      }
    }
  }
  &.active {
    &:before {
      border-color: #3e9ce8;
      background-color: #f2fdff;
      ._icon-ic-check;
    }
  }
  &:before {
    content: '';
    display: inline-block;
    width: 19px;
    height: 19px;
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px #d3d5d6;
    margin-right: 10px;
    background-position: center;
    transition: .2s;
  }
  span {
    flex: 1 1;
  }
  .only {
    ._blue-link-like;
    display: none;
    height: 35px;
    padding: 0 10px;
    font-weight: normal;
  }
}