@import "../primitives/btns";
@import "../primitives/icons";

._ticket {
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 1px 4px 0 rgba(91, 137, 164, 0.25);
  display: flex;
  @media (max-width: 768px) {
    flex-flow: column;
  }
  .buy-wrapper {
    flex: 0 1 200px;
    border-right: 1px solid #eceff1;
    padding: 25px 20px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 768px) {
      border-right: none;
      border-bottom: 1px solid #eceff1;
      flex: 0 1;
      flex-flow: row;
    }
    .carrier-logo {
      margin-bottom: 20px;
      @media (max-width: 768px) {
        margin-bottom: 0;
        margin-right: 20px;
      }
    }
    .buy {
      ._buy;
      width: 100%;
      @media (max-width: 768px) {
        max-width: 200px;
      }
    }
  }
  .info {
    flex: 1 1;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    position: relative;
    @media (max-width: 880px) {
      flex-flow: row wrap;
    }
    .departure, .arrival {
      .time {
        font-size: 32px;
        line-height: 0.81;
        color: #4a4a4a;
        margin-bottom: 10px;
      }
      .location, .date {
        font-size: 12px;
        font-weight: 600;
        line-height: 1.5;
        color: #4a4a4a;
      }
      .date {
        font-weight: normal;
        color: #8b9497;
      }
    }
    .stop-count {
      font-size: 10px;
      font-weight: 600;
      line-height: 1.21;
      text-align: center;
      color: #8b9497;
      position: absolute;
      top: 25px;
      height: 20px;
      left: 127px;
      width: ~'calc(100% - 130px * 2)';
      border-bottom: 1px solid #d2d5d6;
      text-transform: uppercase;
      @media (max-width: 880px) {
        order: -1;
        position: relative;
        left: 0;
        top: 0;
        flex: 1 1 100%;
        margin-bottom: 20px;
      }
      &:after {
        content: '';
        display: block;
        background-color: #fff;
        ._icon-ic-air;
        height: 20px;
        width: 20px;
        position: absolute;
        right: -10px;
        bottom: -10px;
      }
    }
    .arrival {
      text-align: right;
    }
  }
}