@import "components/filter";
@import "components/ticket";
@import "primitives/typography";
@import "primitives/icons";

.app {
  margin: 40px 0;
  flex: 0 1 820px;
  .logo {
    ._icon-logo;
    height: 89px;
    margin-bottom: 50px;
  }
  .content {
    display: flex;
    align-items: flex-start;
    margin: 0 10px;
    @media (max-width: 620px) {
      flex-flow: row wrap;
    }
    .filters {
      border-radius: 5px;
      background-color: #ffffff;
      box-shadow: 0 1px 4px 0 rgba(91, 137, 164, 0.25);
      padding: 15px 0;
      flex: 0 0 232px;
      margin-right: 22px;
      position: relative;
      &.expanded {
        &:after {
          transform: rotate(180deg);
        }
        h2 {
          margin-bottom: 15px;
        }
        .list {
          height: auto;
        }
      }
      @media (max-width: 620px) {
        flex: 1 1 100%;
        margin-right: 0;
        margin-bottom: 10px;
        &:after {
          content: '';
          ._icon-down-arrow;
          height: 30px;
          width: 30px;
          position: absolute;
          right: 13px;
          top: 9px;
          background-size: 20px;
        }
      }
      h2 {
        ._h2;
        margin: 0 15px 15px;
        @media (max-width: 620px) {
          margin-bottom: 0;
        }
      }
      .list {
        overflow: hidden;
        @media (max-width: 620px) {
          height: 0;
        }
        .filter {
          ._filter;
        }
      }
    }
    .tickets {
      flex: 1 1;
      .list {
        .ticket {
          ._ticket;
          &:not(:last-of-type) {
            margin-bottom: 20px;
          }

        }
      }
    }
  }
}