@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=cyrillic');

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background: #f3f7fa;
  display: flex;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
}

@import "app";