._btn-preset {
  cursor: pointer;
  border: none;
  outline: none;
  font-family: 'Open Sans', sans-serif;
}

._blue-link-like {
  ._btn-preset;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #3e9ce8;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  background: transparent;
  transition: .2s;

  &:hover {
    color: darken(#3e9ce8, 10%);
  }
}

._buy {
  ._btn-preset;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  background-color: #ff6d00;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 0 #d64d08;
  height: 56px;
  transition: .3s;
  &:hover {
    background-color: #ff8123;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.25), 0 1px 0 0 #f7661d;
  }
}