._icon-ic-check {
  background-image: url('../images/ic-check.svg');
  background-position: center;
  background-repeat: no-repeat;
}

._icon-logo {
  background-image: url('../images/logo.svg');
  background-position: center;
  background-repeat: no-repeat;
}

._icon-ic-air {
  background-image: url('../images/ic-air.svg');
  background-position: center;
  background-repeat: no-repeat;
}

._icon-down-arrow {
  background-image: url('../images/down-arrow.svg');
  background-position: center;
  background-repeat: no-repeat;
}